<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <h1 class="well">Registrar Veiculo</h1>
	<div class="col-lg-12 well">
	<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<form  method="POST" action="{{url_for('cadastrar_carro')}}">
							<div class="col-sm-6 form-group">
								<label>Marca do Veiculo</label>
								<input type="text" name="marca" placeholder="Digite a marca aqui.." class="form-control" required>
							</div>
							<div class="col-sm-6 form-group">
								<label>Modelo do Veiculo</label>
								<input type="text" name="modelo" placeholder="Digite o modelo aqui.." class="form-control"required>
							</div>
											
                            <div class="col-sm-6 form-group">
								<label>Placa do Veiculo</label>
								<input type="text" name="placa" placeholder="Digite a placa aqui.." class="form-control"required>
							</div>

                            <div class="col-sm-6 form-group">
								<label>Ano do Veiculo</label>
								<input type="text" name="ano_veiculo" placeholder="Digite o aqui.." class="form-control"required>
							</div>	
                        	
							<button type="submit" class="btn btn-lg btn-success">Salvar</button>	
							<a href="{{url_for('pagina_fluxo')}}"> <button type="button" class="btn btn-lg btn-danger">Voltar</button></a>				
						</form>
					</div>
				</div>
                    
				
				</div>
	</div>
	</div>